<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">Alex Oberneyer</a>
        </div>
        <nav class="link-menu">
            <ul>
                <li><a href="index.html">Essays</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <div class="overview">
        {% set current_year = "" %}
        {% for post in posts %}
            {% set post_year = post.date | split(pat="-") | first %}
            {% if post_year != current_year %}
                {% if current_year != "" %}
                </div>
                {% endif %}
                <div class="year-group">
                    <h2 class="year-divider">{{ post_year }}</h2>
                {% set_global current_year = post_year %}
            {% endif %}
            <div class="post-item">
                <a href="{{ post.filename }}" class="post-title">{{ post.title }}</a>
                <span class="post-date">{{ post.date }}</span>
            </div>
        {% endfor %}
        {% if posts %}
        </div>
        {% endif %}
    </div>
</body>
</html>
